nav{
    width: 100%;
    color: #fff;
    padding: 4px 0;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    cursor: pointer;
    
}
.logo{
    width: 180px;
    padding-left: 1.5rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.btn{
  background: #fff;
  color: #212121;
  padding: 8px 17px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
}
.dark-navbar{
    background: #212EA0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

/* ----- media query navbar----- */
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 750px){
    nav{
        padding: 15px 0;
    }
    nav ul {
        /* position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200%;
        padding-top: 70px ;
        transition: 0.5s; */

        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        width: 200px;
        background: whitesmoke;
        color: #333333;
        padding-top: 70px;
        transition: right 0.5s,;
        z-index: -1;
        font-size: 600;
    }

     nav ul.show {
        right: 0;
        background: #212EA0;
        z-index: 99;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-moblie-menu{
        right: -200px;
    }
}